#GENERAL
VERSION_PREFIX="/v1"
VERSION="1.0.0"
ENVIRONMENT="development"

#POSTGRES DB
HOST="your-db-host.supabase.co"
PORT="5432"
USER_NAME="postgres"
DATABASE="postgres"
PASSWORD="your-secure-password"
DIALECT="postgres"
POSTGRES_URI="postgresql://postgres:your-secure-password@your-db-host.supabase.co:5432/postgres?sslmode=require"

#JWT
SECRET_KEY="your-super-secret-random-key"
ALGORITHM="HS256"

# RETRY - CONFIG 
MAX_RETRY_ATTEMPTS=3
RETRY_DELAYS=2

# LLM - BEHAVIOUR 
DEFAULT_LLM_MODEL="meta/llama-3.3-70b-instruct"
DEFAULT_TEMPERATURE=0.4

#LLM - Llama 
LLAMA_MODEL_NAME="meta/llama-3.3-70b-instruct"
LLAMA_API_KEY="sk-your-llama-api-key"
LLAMA_BASE_URL="https://api.your-llama-provider.com/v1"

#LLM - Google 
GOOGLE_MODEL_NAME="gemini-2.5-flash"
GOOGLE_API_KEY="your-google-api-key"

#CHECKPOINT - TYPE 
CHECKPOINTER_TYPE="redis"

#REDIS
REDIS_URI="redis://default:your-redis-password@your-redis-host:port"

#LANGSMITH
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-langsmith-api-key"
LANGSMITH_PROJECT="your-project-name"

#OPENROUTER
OPENROUTER_API_KEY="sk-or-v1-your-openrouter-key"

#GROQ
GROQ_API_KEY="gsk_your-groq-api-key"
