#GENERAL
VERSION_PREFIX="/v1"
VERSION="1.0.0"
ENVIRONMENT="development"

#POSTGRES DB
HOST= "db.vtjnoudmlkuwwfdutbrw.supabase.co"
PORT="5432"
USER_NAME="postgres"
DATABASE= "postgres"
PASSWORD= "YOUR-PASSWORD"

#JWT
SECRET_KEY="a8f9d2k3l4m5n6p7q8r9p2"
ALGORITHM="HS256"

#RETRY
MAX_RETRY_ATTEMPTS=5
RETRY_DELAY=5

#LLM - Llama 
LLAMA_MODEL_NAME="meta"
LLAMA_API_KEY="sk-Fm3dP1vX7qYt6uJzZbL5Kr2HgS8oWnCxEjQaRfNiGpTl"
LLAMA_BASEURL="https://infinitai.sifymdp.digital/maas/v1"

#LLM - Google 
GOOGLE_MODEL_NAME = "gemini-2.5-flash"
GOOGLE_API_KEY = "AIzaSyDtjDfAw-eLSD0xFtvE8W6WShVlzi-sz_k"
